params {

//REQUIRED INPUT PARAMETERS
  input_imputed_glob = false
  //OR:
  plinkfiles = false

//phenofile or fam file must be given, both is also okay
  fam = false
  //OR
  phenofile = false

//OPTIONAL PARAMETERS
  trait = "binary"
  build = "37"
  collection_name = "collection_name"
  split_PAR = true

//COVAR PARAMETERS
  pca_dims = 10
  //tauInit="1,0"
  more_covars = "."
  more_covars_cols = false//""
  cat_covars = false

//OUTPUT PARAMETERS
  output = "output/assoc"

//MODULES

//PLINK PRUNING
  pruning_parameter = "50 5 0.2"
  pruning_maf = 0.05

//BCFTOOLS FILTER
  null_filter = "R2>0.8" //FOR PRUNING
  additional_bcftools_arg = false //FOR ALL ASSOC

//REGENIE
  autochroms = 22
  disable_regenie = false
  additional_regenie_parameter = ""
  regenie_step1_input = false
  regenie_bsize = 1000
  test = "firth"
  pthresh="0.01"

  plot_regenie=false

//PLINK ASSOC
  plink_assoc = false
  plink2_glm_options = false

//SAIGE
  saige = false
  saige_test_rare = false //NOT TESTED!

//UNUSED
	plaintext_email = false
	logo = "${baseDir}/assets/ikmblogo.png"
	email = null
  help = false
	maxMultiqcEmailFileSize = 25.MB
	//run_name = false //set in regenie.nf

//NOTUSED YET:
  remove_missing_phenotypes = false
}

manifest {
  name = "ikmb/phewas-assoc"
  mainScript = 'regenie.nf'
	version = "0.3"
	description = "IKMB PheWAS Association Testing Pipeline"
	author = "Eike Matthias Wacker, Malte Rühlemann, Lars Wienbrandt & David Ellinghaus"
	homePage = "https://github.com/ikmb/gwas-regenie"
	nextflowVersion = ">=21.10.0"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
        enabled = true
        file = "${params.output}/pipeline_info/pipeline_timeline.html"
        overwrite = true
}
report {
        enabled = true
        file = "${params.output}/pipeline_info/pipeline_report.html"
        overwrite = true
}
trace {
        enabled = true
        file = "${params.output}/pipeline_info/pipeline_trace.txt"
        overwrite = true
}
dag {
        enabled = true
        file = "${params.output}/pipeline_info/pipeline_dag.svg"
        overwrite = true
}

profiles {
	standard {
		includeConfig 'conf/base.config'
		includeConfig 'conf/medcluster.config'
    includeConfig 'conf/resources.config'
	}
	local {
    includeConfig 'conf/base.config'
    includeConfig 'conf/local.config'
    includeConfig 'conf/resources.config'
	}
  biomedinf {
    includeConfig 'conf/base.config'
    includeConfig 'conf/biomedinf.config'
    includeConfig 'conf/resources.config'
	}
  pmi {
    includeConfig 'conf/base.config'
    includeConfig 'conf/pmi-interact.config'
    includeConfig 'conf/resources.config'
}  
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
