
// Job paramaters to set for this environment


params {
	max_memory = 250.GB
	max_cpus = 20
	max_time = 240.h
	maxMultiqcEmailFileSize = 25.MB
}

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'
 
}

params.max_cpus = 24
params.max_ram = 250

singularity {
 enabled = true
 runOptions = "-B /work_beegfs -B /mnt -B /scratch"
 cacheDir = "/work_beegfs/ikmb_repository/singularity_cache"
}



